// all the used colors
@use "./colors/Allcolors" as *;

// typography
@use "./globals/boilerplate" as *;

// reseters
@use "./globals/typography" as *;

// my Mixins
@use "./helpers/mixin/mixins" as *;

// Animations
@use "./keyFrames/KeyFrams" as *;

%sectionHandeler {
  max-width: 1200px;
  padding: 0 20px;
  margin: 60px auto;
}

%buttons {
  background-color: $buttons;
  color: white;
  border: none;
  outline: none;
  height: 50px;
  width: calc(38% + 50px);
  border-radius: 50px;
  box-shadow: $S-H-BG 0px 5px 10px 2px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    box-shadow: none;
  }
}

%main-head {
  h1 {
    font-size: 3.1em;
  }

  p {
    width: 70%;
  }
}

.BG_img {
  position: absolute;
  right: -50px;
  top: -70px;
  z-index: -1;
  width: 700px;
}

header {
  .contaner {
    @extend %sectionHandeler;
    margin: 40px auto !important;

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    ul {
      display: grid;
      grid-template-columns: repeat(5, auto);
      max-width: 500px;
      margin: 0 auto;
      gap: 2em;

      li {
        font-size: smaller;
        color: $headers;
        cursor: pointer;
        position: relative;
        width: fit-content;

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          bottom: -3px;
          background-color: $buttons;
          left: 0;
          transition: 0.3s ease-in;
          transform: scaleX(0);
        }

        &:hover {
          &::before {
            transform: scaleX(1);
            opacity: 1;
          }
        }
      }
    }

    button {
      @extend %buttons;
      justify-self: end;
    }

    .header-mobile {
      display: none;

      .close,
      .open {
        cursor: pointer;
      }
      .close {
        display: none;
      }

      .nav {
        display: none;
      }

      ul {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        background-color: white;
        width: 80%;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 100px 130px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: black;
        font-size: large;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
          width: fit-content;
        }
      }
    }
  }
}

@include breakPoint(mobile) {
  .BG_img {
    width: 400px;
    top: -20px;
    right: -100px;
  }

  .header-mobile {
    display: block !important;
  }

  header .contaner {
    grid-template-columns: 1fr auto;

    .disctop-nav {
      display: none;
    }

    button {
      display: none;
    }
  }
}

.F-sec {
  .contaner {
    @extend %sectionHandeler;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .text {
      height: 80%;
      width: 100%;
      animation: F-right 1s ease-in-out;

      display: grid;

      @extend %main-head;

      button {
        @extend %buttons;
        width: 30%;
      }
    }

    img {
      animation: F-left 1s ease-in-out;
      width: 600px;
    }
  }
}

@include breakPoint(mobile) {
  .F-sec {
    .contaner {
      grid-template-columns: unset;
      grid-template-rows: repeat(2, auto);
    }

    img {
      grid-row: 1;
      width: 100% !important;
    }

    .text {
      justify-content: center;
      gap: 1em;
      text-align: center;

      h1 {
        font-size: 2em !important;
      }

      p {
        width: 100% !important;
      }

      button {
        justify-self: center;
        width: 50% !important;
      }
    }
  }
}

.S-sec {
  @extend %sectionHandeler;

  .contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;

    .left {
      @extend %main-head;
      transform: translateX(-150%);
      &.show {
        transform: translateX(0%) !important;
      }

      h1 {
        font-size: 2.5em !important;
        margin-bottom: 1em;
      }
    }

    .right {
      display: grid;
      gap: 3em;
      transform: translateX(150%);
      &.show {
        transform: translateX(0%) !important;
      }

      .box {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;

        span {
          background-color: $buttons;
          border-radius: 50px;
          color: white;
          width: 70px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .S-text {
          h3 {
            font-size: 1em;
            margin-bottom: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@include breakPoint(mobile) {
  .S-sec {
    .contaner {
      grid-template-columns: unset;
      grid-template-rows: auto auto;
      margin-top: 100px;

      .left {
        text-align: center;

        p {
          width: 100%;
        }
      }

      .right {
        h3 {
          font-size: 1em !important;
        }
        p {
          width: 145%;
          position: relative;
          left: -85px;
        }
      }
    }
  }
}

.T-sec {
  margin: 50px 0px;
  h1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: 2.5em;
  }
  .contaner {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3em;

    .splide__track {
      overflow: unset;
      padding-left: 20.5rem !important;
    }

    .splide__list {
      transform: translateX(-378.583px);
    }

    .splide__pagination {
      display: none !important;
    }

    .box {
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: 0.5em;
      background-color: $box-BG;
      max-width: 500px;
      align-content: center;
      justify-items: center;
      margin-left: 37px;
      margin-right: 40px;
      height: 200px;
      padding: 20px;
      border-radius: 15px;

      img {
        top: -65%;
        position: relative;
        width: 70px;
      }

      h5 {
        font-size: 16px;
        font-weight: 500;
        color: $headers;
      }

      p {
        text-align: center;
        font-size: 15px;
      }
    }
  }
  .splide__arrows {
    display: none;
  }

  .button {
    display: flex;
    button {
      @extend %buttons;
      width: 150px;
      margin: 0 auto;
    }
  }
}

.splide:not(.is-overflow) .splide__list {
  justify-content: center;
}
.splide:not(.is-overflow) .splide__slide:last-child {
  margin: 0 !important;
}

@include breakPoint(mobile) {
  .T-sec .contaner .box {
    max-width: 300px;
    margin-right: 58px;
    height: 210px;
  }
  .splide__arrows {
    display: none !important;
  }
  .T-sec h1 {
    margin-bottom: 60px;
    font-size: 2em;
  }
  .T-sec .contaner .splide__track {
    padding-left: unset !important;
    width: unset !important;
  }
  .T-sec .contaner .splide__list {
    transform: translateX(-1698.5px);
  }
  .T-sec .contaner .box img {
    top: -37%;
  }
}

.splide__pagination__page:not(.is-active) {
  border: solid 1px $buttons !important;
  background-color: white;
}

.splide__pagination__page.is-active {
  background: $buttons !important;
  transform: unset !important;
}

.Fu-sec {
  background-color: $buttons;

  position: relative;
  height: 250px;
  display: flex;
  overflow: hidden;

  .contaner {
    @extend %sectionHandeler;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 3em;
    align-items: center;

    .h1 {
      h1 {
        color: white;
        font-size: 2.5em;
        font-weight: 500;
      }
      transform: translateY(-250%);
      &.show {
        transform: translateY(0%) !important;
      }
    }

    .button {
      margin-left: 50%;
      button {
        width: 150px;
        justify-self: end;
        height: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
        color: $buttons;
        font-weight: 600;
        cursor: pointer;
      }
      transform: translateY(300%);
      &.show {
        transform: translateY(0%) !important;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .imgs {
    position: absolute;

    img {
      position: absolute;
      opacity: 0.1;
    }

    .right {
      width: 600px;
      top: -50px;
      left: 100px;
    }

    .left {
      width: 400px;
      top: -250px;
      left: 1200px;
    }
  }
}

footer {
  background-color: #1e1e26;
  height: 260px;
  position: relative;
  overflow: hidden;

  .section {
    @extend %sectionHandeler;

    margin-top: 0;
    margin-bottom: 0;
    padding: 70px 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 120px;
      transform: translateX(-100%);
      &.show {
        transform: translateX(0%) !important;
      }

      .social {
        display: flex;
        justify-content: space-between;
        width: 50%;
        cursor: pointer;

        img:hover {
          filter: invert(54%) sepia(28%) saturate(6865%) hue-rotate(338deg)
            brightness(98%) contrast(94%);
        }
      }
    }
  }
  .one {
    transform: translateY(100%);
    &.show {
      transform: translateY(0%) !important;
    }
  }
  .two {
    transform: translateY(-130%);
    &.show {
      transform: translateY(0%) !important;
    }
  }
  .ul {
    font-family: "Courier New", Courier, monospace;
    color: white;
    li:not(:last-child) {
      margin-bottom: 1em;
    }
    li {
      &:hover {
        cursor: pointer;
        font-weight: 100 !important;
        color: $buttons;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: row;
    height: fit-content;
    transform: translateX(150%);
    &.show {
      transform:  translateX(0%);
    }

    span {
      position: absolute;
      left: 16px;
      bottom: 0px;
      font-size: 11px;
      color: hsla(0, 100%, 57.5%, 0.97);
    }

    .input {
      position: relative;
      height: fit-content;
      transition: 0s !important;
    }

    input {
      height: 45px;
      border-radius: 50px;
      width: 200px;
      padding: 15px;
      border: none;
      outline: none;
      margin-right: 1em;
      font-size: 11px;
      z-index: 1;
      position: relative;
    }

    button {
      width: 70px;
      height: 45px;
      border-radius: 20px;
      border: none;
      @extend %buttons;
      box-shadow: none;
    }
  }

  .R {
    position: absolute;
    right: 90px;
    bottom: 60px;
    font-size: 13px;
  }
}

.alert-show {
  bottom: -18px !important;
}

@include breakPoint(mobile) {
  .Fu-sec {
    height: fit-content;
    .contaner {
      text-align: center;
      grid-template-columns: unset;
      grid-template-rows: repeat(2, 1fr);
      gap: 0em !important;

      h1 {
        font-size: 2.1em;
      }

      button {
        width: 100px;
        margin: 0 auto;
      }
    }
  }

  footer {
    height: fit-content;
    .section {
      grid-template-columns: unset;
      grid-template-areas:
        "form form"
        "ul2 ul1"
        "icons icons";
      gap: 3em;
      justify-content: center;

      .icons {
        grid-area: icons;
        flex-direction: column-reverse;
        .social {
          width: 90%;
          img {
            width: 30px;
          }
        }
      }
      .ul:nth-child(1) {
        grid-area: ul1;
        align-self: start;
      }
      .ul:nth-child(2) {
        grid-area: ul2;
      }
      .form {
        grid-area: form;
      }

      .R {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
      }
    }
  }
}
